{% extends 'main.html' %}

{% load static %}
{% block content %}
<script src="{% static 'js/checkout.js' %}"></script>

<div class="row">
    <div class="col-lg-6">
        <div class="box=element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                </div>
                <hr>
                <script src="https://js.paystack.co/v1/inline.js"></script>
               <button type="button" onclick="payWithPaystack()"> Pay </button>
            </form>

            <script>
              function payWithPaystack(){
                var handler = PaystackPop.setup({
                  key: 'paste your key here',
                  email: 'customer@email.com',
                  amount: 10000,
                  ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                  metadata: {
                     custom_fields: [
                        {
                            display_name: "Mobile Number",
                            variable_name: "mobile_number",
                            value: "+2348012345678"
                        }
                     ]
                  },
                  callback: function(response){
                      alert('success. transaction ref is ' + response.reference);
                  },
                  onClose: function(){
                      alert('window closed');
                  }
                });
                handler.openIframe();
              }
            </script>

        </div>

    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'electronics:cart' %}">&#x2190; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in items_in_cart %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{% static '' %}images/{{item.product.image_url}}"></div>
                    <div style="flex:2"><p>{{ item.product.product_name }}</p></div>
                    <div style="flex:1"><p class="product_price_checkout">{{ item.product.product_price }}</p></div>
                    <div style="flex:1" id="quantity"><p>x <span class="quantity_checkout">{{item.quantity }}</span></p></div>
                </div>
                {% endfor %}
                <h5>Items:    {{ num_of_item }}</h5>
                <h5>Total:   $<span class="total_price"></span></h5>
        </div>
    </div>
</div>
{% endblock content %}